server:
        hide-version: yes
        verbosity: 1
        database: "" # disable database
        ip-address: {{ ansible_vio0.ipv4[0].address }}
        ip-address: {{ ansible_vio0.ipv6[1].address }}
        do-ip4: yes
        do-ip6: yes
remote-control:
        control-enable: yes
        control-interface: /var/run/nsd.sock
key:
        name: "{{ nsd_key_name }}"
        algorithm: {{ nsd_key_algorithm }}
        secret: "{{ nsd_key_secret }}"
zone: 
        name: "{{ nsd_zone_name }}"
        zonefile: "/var/nsd/zones/slave/{{ nsd_zone_name }}"
        allow-notify: {{ nsd_master_dns }} {{ nsd_key_name }}
        request-xfr: AXFR {{ nsd_master_dns }} {{ nsd_key_name }}
        allow-axfr-fallback: yes 

